html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: beige;
}

.container {
    display: flex;
    margin: 5em;
}

.btn {
    width: 150px;
    height: 40px;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 1em;

    &--advise {
        background-color: #FFC300;
        &:hover {
            transition:background-color 1s;
            background-color: #FF8C00;
        }
    }
    &--danger {
        background-color:#F0433A;
        &:hover {
            animation: danger .8s infinite;
            @keyframes danger {
                from {
                    opacity:.2;
                }
                to {
                    opacity: 1;
                }
            }
        }
    }
    &--normal {
        background-color: #2980B9;
        &:hover {
            background-color: #2C3E50;
        }
    }
}